body {
    font-family: "Lato", sans-serif
}

.backgroundImage {
    position: relative;
    width: 100%;
}

.backgroundImageText {
    color: white;
    left: 0;
    position:absolute;
    text-align:center;
    top: 40%;
    width: 100%
}

.backgroundImageText2 {
    font-family: Avenir;
    font-size: 600%;
}

.contact {
    background-color: black;
    height: 110px;
}

.contactTitle {
    color: white;
}

.contactContent {
    color: white;
    text-align: center;
}