/* Font for the body of the webpage. */
body {
    font-family: "Lato", sans-serif
}

/* Styling for the background image. */
.backgroundImage {
    position: relative;
    width: 100%;
}

/* Styling for the background image text in front of it. */
.backgroundImageText {
    color: white;
    left: 0;
    position:absolute;
    text-align:center;
    top: 35%;
    width: 100%
}

/* Styling for links and the underline animation. */
a {
    position: relative;
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Styling for "moveMent" title in front of the webpage front image/gif. */
.backgroundImageText2 {
    color: white;
    font-family: Avenir;
    font-size: 600%;
}

/* Styling for the "v" in front of the webpage front image/gif. */
.backgroundImageText3 {
    font-style: normal;
    color: white;
    font-size: 500%;
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.backgroundImageText3:hover {
    opacity: 1;
}

.backgroundImageText3Div {
    color: white;
    left: 0;
    position:absolute;
    text-align:center;
    top: 52%;
    width: 100%
}

/* Styling for Contact section of the webpage. */
.contact {
    background-color: black;
    height: 170px;
}

.contactTitle {
    color: white;
}

.contactContent {
    color: white;
    text-align: center;
}