body {
    font-family: "Lato", sans-serif
}

.backgroundImage {
    position: relative;
    width: 100%;
}

.backgroundImageText {
    color: white;
    left: 0;
    position:absolute;
    text-align:center;
    top: 40%;
    width: 100%
}

a {
    position: relative;
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.backgroundImageText2 {
    color: white;
    font-family: Avenir;
    font-size: 600%;
}

.contact {
    background-color: black;
    height: 110px;
}

.contactTitle {
    color: white;
}

.contactContent {
    color: white;
    text-align: center;
}